<p id="notice"><%= notice %></p>

<p>
  <b>Read:</b>
  <%= @email.read %>
</p>

<p>
  <b>Url:</b>
  <%= @email.url %>
</p>

	<%= @email.checkRead %>
		<%= link_to "Add to email", @email.mailtolink %><br /><br /><br />

	<%= @email.body %><br />
	<%= image_tag("urls/#{@email.url}.png") %><br /><br />



<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
