<p id="notice"><%= notice %></p>
Success!<br /><br />
Copy text between lines directly into email.<br /><br />
----<br />
<p id="some-txt">
	<%= @email.body %><br />
	<%= image_tag(@email.view_signature) %><br /><br />
</p>
----<br />

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
